/* styles.css */
.posts-list-container {
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: #433630 #9d8072; /* Para Firefox */
}

/* Para navegadores basados en WebKit (Chrome, Safari) */
.posts-list-container::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

.posts-list-container::-webkit-scrollbar-track {
  background: #9d8072; /* Color del fondo de la barra de desplazamiento */
}

.posts-list-container::-webkit-scrollbar-thumb {
  background-color: #433630; /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Redondeo de los bordes */
  border: 3px solid #9d8072; /* Espacio alrededor de la barra de desplazamiento */
}
